/* https://fonts.google.com/specimen/Oswald */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


@media (min-width:320px) {

  /* smartphones, iPhone, portrait 480x320 phones */
  header {
    background: #87bdd8;
    color: black;
    font-family: 'Croissant One', cursive;
    text-align: center;
    height: 40px;
    width: 100%;
    border: 1px solid #87bdd8;
  }

  .menu {
    text-align: center;
  }

  .menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    zoom: 1;

  }

  .menu li {
    float: left;
    padding: 0px 25px;
  }

  .menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: x-large;
    text-decoration: underline;
  }

  .menu a:hover {
    background-color: #0daaaa;
  }

  article {
    background: #87bdd8;
    color: rgb(214, 18, 18);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 500px;
    width: 100%;
    border: 1px solid #87bdd8;
  }

  footer {
    background: #87bdd8;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 70px;
    width: 100%;
    border: 1px solid #87bdd8;
  }

  .p1{
    font-family: "Times New Roman", Times, serif;
  }
}

@media (min-width:481px) {

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

}

@media (min-width:641px) {

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}

@media (min-width:961px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {

  /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {

  /* hi-res laptops and desktops */

}