@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@media screen and (min-width: 1025px) {

  * {
    margin: 0;
    padding: 0;
  }

  /* header */

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    background-color: rgb(31, 26, 26);
  }

  nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
  }

  nav ul {
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 50%;
  }

  ul li {
    list-style: none;
  }

  li a {
    display: flex;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 2px;
    font-size: x-large;
  }

  li a:hover {
    background-color: rgb(161, 155, 155)
  }

  /* main */

  .conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 550px;
  }

  .imagenes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 550px;
  }

  .imagenes img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(80%);
    transition: .7s ease;
  }

  .imagenes img:hover {
    width: 650px;
    opacity: 1;
    filter: brightness(130%);
  }

  /* aside */

  aside {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
  }

  #image-aside {
    width: 500px;
    height: 400px;
    margin-top: 50px;

  }

  article {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
  }

  .welcome h1,
  .welcome p {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
  }

  .form {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 40px;

  }

  input[type=text],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #ccc;
    color: black;
  }

  #userData {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /* table */

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  .icon-table {
    max-width: 32px;
    height: auto;
    width: 100%;
  }
  
  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    color: white;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(31, 26, 26);
    text-align: center;
  }


}