{% extends 'base.html' %}
{% block content %}

<main>
    <div>
        <h1>All trips</h1>
        <h2><a href="{% url 'trip:create' %}">create Trip</a></h2>
        {% for trip in trip_list%}
        <div class="list">
            <span>
                <p>{{forloop.counter}}</p>
            </span>
            <span>
                <p>{{trip.nombre}}</p>
            </span>
            <span>
                <label for="">details: </label>
                <a href="{% url 'trip:detail' trip.id %}">+</a>
            </span>
            <span>
                <label for="">Edit: </label>
                <a href="{% url 'trip:update' trip.id %}">+</a>
            </span>
            <span>
                <label for="">Delete: </label>
                <a href="{% url 'trip:delete' trip.id %}">+</a>
            </span>
        </div>

        {% endfor %}
    </div>
</main>
{% endblock %}