{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- Main -->

    <div class="imagenes">
        <img src="{% static 'assets/images/bariloche.jpg' %}" alt="fly.b" class="fly1">
        <img src="{% static 'assets/images/cordoba.jpg' %}" alt="fly.c" class="fly2">
        <img src="{% static 'assets/images/misiones.jpg' %}" alt="fly.m" class="fly3">
        <img src="{% static 'assets/images/bs.as.jpg' %}" alt="fly.bs" class="fly4">
        <img src="{% static 'assets/images/jujuy.jpg' %}" alt="fly.j" class="fly5">
    </div>
</main>

<!-- javascript -->
{% endblock %}
</body>

</html>