{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- envio formulario -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
    (function () {
        emailjs.init("13c2jzh7zGyBVsWti");
    })();
</script>

<main>
    <!-- main -->
    <div class="conteiner">
        <!-- div container -->
        <aside>
            <!-- aside -->
            <img id="image-aside" src="{% static 'assets/images/photo-1.jpg' %}" alt="fly-welcome">

        </aside>
        <article>
            <!-- article -->
            <div class="form">
                <form action="">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name" required>

                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your mail" required>

                    <label for="message">Mensaje:</label>
                    <textarea class="form-control" id="message" rows="4" required></textarea>

                    <input type="submit" value="send" onclick="sendMail()">
                </form>
            </div>

        </article>
        <div>
</main>
<!-- javascript -->
<script type="text/javascript" src="{% static 'assets/js/form.js' %}"></script>
{% endblock %}
</body>

</html>