{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- Main -->
    <div class="conteiner">
        <!-- div conteniner -->
        <aside>
            <!-- aside -->
            <img id="image-aside" src="{% static '/assets/images/photo-1.jpg' %}" alt="fly-welcome">
        </aside>

        <article>
            <!-- article -->
            <div class="welcome">
                <h1>Bienvenido a nuestro Sitio de viajes</h1><br>
                <p> En nuestro sitio web de viajes, no solo te ofrecemos información detallada
                    sobre los destinos más emblemáticos del mundo, sino que también te
                    inspiraremos a explorar lugares menos conocidos. </p>
            </div>

        </article>
    </div>
</main>
<!-- javascript -->
{% endblock %}

</body>

</html>