{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- Main -->
    <div class="conteiner">
        <!-- div conteniner -->
        <aside>
            <!-- aside -->
            <img id="image-aside" src="{% static '/assets/images/photo-1.jpg' %}" alt="fly-welcome">
        </aside>

        <article>
            <!-- article -->
            <div class="welcome">
                <h2><a href="{% url 'trip:create' %}">Crear viaje</a></h2>
                <h1>Todos los Vijes</h1>
                <table>
                    <tr>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Detalles</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr>
                        {% for trip in trip_list%}
                        <td>
                            <p>{{trip.destination}}</p>
                        </td>
                        <td>
                            <p>{{trip.origin}}</p>
                        </td>
                        <td>
                            <p>{{trip.date}}</p>
                        </td>
                        <td><a href="{% url 'trip:detail' trip.id %}"><img class="icon-table"
                                    src="{% static '/assets/images/magnifier.png' %}" alt="Trulli"></a></td>
                        <td><a href="{% url 'trip:update' trip.id %}"><img class="icon-table"
                                    src="{% static '/assets/images/wrench.png' %}" alt="Wrench"></a></td>
                        <td><a href="{% url 'trip:delete' trip.id %}"><img class="icon-table"
                            src="{% static '/assets/images/trash-1.png' %}" alt="Delete"></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
    </div>

    </article>
    </div>
</main>
<!-- javascript -->
{% endblock %}

</body>

</html>