{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- Main -->
    <div class="conteiner">
        <!-- div conteniner -->
        <aside>
            <!-- aside -->
            <img id="image-aside" src="{% static '/assets/images/photo-1.jpg' %}" alt="fly-welcome">
        </aside>

        <article>
            <!-- article -->
            <div class="welcome">
                <h2><a href="{% url 'trip:create' %}">Crear viaje</a></h2>
                <h1>Todos los Vijes</h1>
                {% for trip in trip_list%}
                <table>
                    <tr>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Detalles</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr>
                        <td><p>{{trip.destination}}</p></td>
                        <td>{{trip.origin}}</td>
                        <td>{{trip.date}}</td>
                        <td><a href="{% url 'trip:detail' trip.id %}">+</a></td>
                        <td><a href="{% url 'trip:update' trip.id %}">+</a></td>
                        <td><a href="{% url 'trip:delete' trip.id %}">+</a></td>
                    </tr>
                </table>

                {% endfor %}
            </div>
    </div>

    </article>
    </div>
</main>
<!-- javascript -->
{% endblock %}

</body>

</html>